@import "ui";
html{
  height: 100%;
}
body{
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: var(--font-size);
  line-height: normal;
  font-family: 'Segoe UI Light','Segoe WP Light','wf_segoe-ui_light','wf_segoe-ui_normal','Segoe UI','Segoe WP',Helvetica,Tahoma,Arial,sans-serif;
  background: var(--background-color);
}

*{
  box-sizing: border-box;
}

i.icon{
  margin: 0;
}

a{
  color: var(--color-base-primary);
}
a, .ui-button{
  transition: color .3s, background .3s;
}

//滚动条样式
*::-webkit-scrollbar{width:2px!important;background:rgba(0,0,0,.05)!important;height:10px!important;border-radius:0!important;}
*::-webkit-scrollbar-thumb{background:rgba(0,0,0,.5)!important;border-radius:0!important;}

//
.console-outlet{
  position: absolute;
  min-width: 640px;
  left:0;
  top:0;
  height: 100%;
  width:100%;
  z-index: 1;
  background: #E9ECF3;
  .console-header{
    height:60px;
    margin: 10px 0 0 0;
    position: relative;
    background: #ffffff;
    width: calc(100% - 20px);
    left:10px;top:0;
    padding:0 1rem;
    border-radius:var(--border-radius-width, 5px);
    .console-name{
      background:none;
      height:60px;
      font-size: 26px;
      justify-content: center;
      display: flex;
      flex-flow: column;
      .powerby{
        font-size: var(--small-text);
        color: var(--color-medium);
        user-select: none;
      }
    }
    .links{
      right:1rem;
      text-align: right;
      position: absolute;
      bottom:1rem;
    }
    //
    .user-options{
      user-select: none;
      position: relative;
      z-index: 10;
      width: 80px;
      background: #ffffff;
      border-radius: 3px;
      .face{
        width: 80px;
        height: 60px;
        display: flex;
        flex-flow: column;
        justify-content: center;
      }
      .options{
        display: none;
        a{
          display: block;
          padding: 5px;
          color: #666666;
          text-align: center;
          &:last-child{
            border-radius: 0 0 3px 3px;
          }
          &:hover{
            background: var(--color-primary);
            color: var(--color-primary-content);
          }
        }
        .split{
          margin: 5px;
          border-top: solid 1px #ddd;
        }
      }
      &:hover{
        background: #f9f9f9;
        .options{
          display: block;
        }
      }
    }
  }
  //
  .console-content{
    overflow: hidden;
    position: absolute;
    height: calc(100% - 80px);
    top: 80px;
    width: 100%;
  }
  //菜单
  .console-menu{
    position: absolute;
    left:7px;
    top: 0;
    width:200px;
    bottom: 10px;
    display: flex;
    flex-flow: column;
    overflow: hidden;
    border-radius: var(--border-radius-width, 5px);
    .bg{
      background:#fff;
      padding: 1px 0 5px 0;
      margin-left: 3px;
      border-radius: 0 0 var(--border-radius-width, 5px) var(--border-radius-width, 5px);
    }
    .console-menu-header{
      color:#cccccc;
      line-height:3rem;
      padding:0 10px;
      cursor:default;
      margin-left: 3px;
      background: #ffffff;
      border-radius: var(--border-radius-width, 5px) var(--border-radius-width, 5px) 0 0;
    }
    .console-menu-scroll-view{
      display: flex;
      flex-flow: column;
      flex: 1;
      overflow: auto;
    }
    .accordion{
      user-select: none;
      .title{
        transition: background-color .5s, color .5s;
        position: relative;
        cursor:pointer;
        line-height:3rem;
        padding:0 15px!important;
        margin:1px 0;
        color:#666!important;
        font-weight:bold;
        i{font-weight:normal;}
        &:hover{background:#f2f6f9;}
        &.active{background:#f2f6f9;border-left:solid 3px var(--color-primary, #E4393C);color: var(--color-primary, #E4393C)!important;margin-left:-3px;}
        &:after{content:"\f107";position:absolute;right:15px;font-family:Icons;}
        &.active:after{transform: rotate(180deg);}
      }
      .content{padding:0!important;
        a{line-height:3rem;padding:0 15px;display:block;margin:1px 0;color:#666666;position: relative;transition: background-color .5s, color .5s;
          &:hover,&.active{
            background:#f2f6f9;color:var(--color-primary, #E4393C);
          }
          &.active:after{content:"\f061";position:absolute;right:15px;font-family:Icons;}
        }
        &.active{
          border-left:solid 3px var(--color-secondary-light, #ffb1aa);
          margin-left:-3px;
        }
        .sub-hd{
          font-size: .8rem;color:#999;
          padding:5px 15px 0 15px;
          font-weight:bold;
        }
      }
      .accordion{margin:0!important;
        .title{padding:0 23px!important;font-weight:normal;
          &.active{border-top:solid 1px #009c95;border-left:none;margin-left:0!important;margin-top:-1px!important;}
        }
        .content a{padding:0 31px;}
      }
    }
  }
  //框架页
  .console-frame{
    position: absolute;
    background: #ffffff;
    margin: 0;
    top: 0;
    width: calc(100% - 227px);
    right:10px;
    bottom:10px;
    border-radius: var(--border-radius-width, 5px);
  }
}