<!DOCTYPE html>
<html lang="en" {$html_attr|default:''}>
<head>
    <meta charset="UTF-8">
    <title>{$title|default:''} - INPHP</title>
    <meta name="keyword" content="">
    <meta name="description" content="">
    <meta charset="UTF-8">
    <!-- 优先使用 IE 最新版本和 Chrome -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <!-- 添加到主屏后的标题（iOS 6 新增） -->
    <meta name="apple-mobile-web-app-title" content="{$title|default:'INPHP控制台'}">
    <!-- 是否启用 WebApp 全屏模式，删除苹果默认的工具栏和菜单栏 -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- 设置苹果工具栏颜色 -->
    <meta name="apple-mobile-web-app-status-bar-style" content="green">
    <!-- 忽略页面中的数字识别为电话，忽略email识别 -->
    <meta name="format-detection" content="telphone=no, email=no">
    <!-- 不让百度转码 -->
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
    <meta name="HandheldFriendly" content="true">
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <!-- jQuery -->
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- Semantic UI -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <!-- 公共库 -->
    <link href="{$domain.static_url}/other/css/widget.css" rel="stylesheet">
    <link href="{$domain.static_url}/lib/loader/icon.css" rel="stylesheet">
    <script src="{$domain.static_url}/other/js/modal.js"></script>
    <script src="{$domain.static_url}/other/js/loader.js"></script>
    <script src="{$domain.static_url}/other/js/ajax.js"></script>
    <script src="{$domain.static_url}/lib/audio/js.js"></script>
    <script>
        //顶层窗体
        let TW = (function(c, p){
            while (c!=p){
                c = p;
                p = p.parent;
            }
            return c;
        })(window, window.parent);
        //提示音
        Voice.url = "{$domain.static_url}/lib/audio/wav/";
    </script>
    <!-- 样式 -->
    <link href="{$domain.assets_url}/framework/css/style.css?v={$smarty.now}" rel="stylesheet">
    <!-- 脚本 -->
    <script src="{$domain.assets_url}/framework/js/web.js?v={$smarty.now}"></script>
</head>
<body {$body_attr|default:''}>