{include "inc_header.html" title="控制台" body_attr="style='overflow:hidden;'"}
<div class="page-outlet">
    <div class="page-header padding">
        <div class="ui-flex-item">
            <div class="start">LOGO</div>
            <div class="center"></div>
            <div class="end"></div>
        </div>
    </div>
    <div class="page-content">

    </div>
    <div class="page-footer">
        <div class="small-text text-center padding">
            copyright 2020 INPHP
        </div>
    </div>
</div>
{include "inc_footer.html"}