{include "inc_header.html" title="控制台" body_attr="style='overflow:hidden;'"}
<div class="console-wrap inphp">
    <div class="console-side">
        <div class="page-outlet">
            <div class="page-header padding-top padding-bottom no-border transparent">
                <div class="text-center">
                    <div class="maximum-text">INPHP</div>
                    <div class="default-text base-light-text">控制台</div>
                </div>
            </div>
            <div class="page-content transparent">
                <div class="console-menu">
                    <div class="ui accordion">
                        <div class="title active">
                            <div class="ui-flex-item">
                                <div class="start">
                                    <i class="icon cog"></i>
                                </div>
                                <div class="center">系统模块</div>
                                <div class="end">
                                    <i class="icon chevron down"></i>
                                </div>
                            </div>
                        </div>
                        <div class="content active">
                            <a class="ui-flex-item" href="">
                                <span class="start justify-center"><i class="icon settings"></i></span>
                                <span class="center">设置</span>
                                <span class="end">
                                    <i class="icon arrow right"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-footer no-border transparent">
                <div class="padding text-center small-text">power by <a href="https://inphp.cc" target="_blank">INPHP</a></div>
            </div>
        </div>
    </div>
    <div class="console-content">
        <div class="page-outlet">
            <div class="page-header no-border padding">
                <div class="ui-flex-item">
                    <div class="start justify-center">
                        <div class="ui-button clear">
                            <i class="icon content"></i>
                        </div>
                    </div>
                    <div class="center"></div>
                    <div class="end"></div>
                </div>
            </div>
            <div class="page-content"></div>
        </div>
    </div>
</div>
{include "inc_footer.html"}